<nav>
  &copy; {{ now.Year }} {{ .Site.Params.author.name }}
  &middot;
  <a
    {{ if eq .Page.Language.Lang "de" }}
      title="Kontaktiere mich"
    {{ else }}
      title="Contact me"
    {{ end }}
    href="mailto:{{ .Site.Params.author.email }}">{{ if eq .Page.Language.Lang "de" }}E-Mail{{ else }}E-Mail{{ end }}</a>
  &middot;
  {{ if eq .Page.Language.Lang "de" }}
    <a href="{{ .Site.BaseURL }}de/imprint/">Impressum</a>
    &middot;
    <a href="{{ .Site.BaseURL }}de/privacy/">Datenschutz</a>
  {{ else if eq .Page.Language.Lang "en" }}
    <a href="{{ .Site.BaseURL }}en/imprint/">Imprint</a>
    &middot;
    <a href="{{ .Site.BaseURL }}/en/privacy/">Privacy</a>
  {{ end }}
</nav>
