<div class="language-menu">
{{- $page := . -}}{{/* Keep the context - fell into that pit */}}
{{- $lastIndex := sub (len .Site.Languages) 1 -}}
{{- range $i, $lang := .Site.Languages -}}
  {{- if eq $page.Language.Lang $lang.Lang -}}
    <span class="active">{{- $lang.Lang -}}</span>
  {{- else }}
    {{- $alt := index (where $page.Translations "Lang" $lang.Lang) 0 -}}
    {{- if $alt -}}
      <a href="{{- $alt.RelPermalink -}}">{{- $lang.Lang -}}</a>
    {{- else -}}
      {{- $lang.Lang -}}
    {{- end -}}
  {{- end -}}
  {{- if lt $i $lastIndex -}}
    <span>
      &vert;
    </span>
  {{- end -}}
{{- end -}}
</div>
