html {
  font: 1.1em/1.3 Sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 40em;
  margin: 0 auto;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #000;
  background-color: #FFF;
}

header nav { margin: 0 1em; }

main table,
header table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

header td {
  margin: 0;
  padding: 0;
}

.menu-l { text-align: left; }

.menu-r { text-align: right; }

.ancestor, 
.active { font-weight: bold; }

.active {
  text-decoration: none;
  pointer-events: none;
}

/* main */

main {
  padding: 2em 1em 1em 1em;
  flex: 1;
}

#home main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title { text-align: center; }

.content-metadata {
  text-align: center;
  margin: 0 auto;
}

.previews { margin-top: 2rem; }

.preview {
  border-top: 1px solid;
  margin: 1em 0;
}

.preview * { margin: 0.5rem auto; }

.preview-meta {
  text-align: center;
  font-size: 0.8rem;
}

.preview-footer { text-align: right; }

.link-collection { text-align: center; } 

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: auto;
}

blockquote {
  padding: 0 0.5em;
  font-style: italic;
  border-left: 2px solid;
  width: fit-content;
}

img,
svg {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}

figure img,
figure svg { margin: 0 auto; }

figure { margin: 1em auto; }

figcaption > p {
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  font: italic 0.8rem/1.3 Sans-serif;
}

pre,
code {
  font: 1em/1.1 Monospace;
}

code {
  overflow-wrap: break-word;
  padding: 1px 2px;
}

pre {
  max-width: 100%;
  display: block;
  overflow: auto hidden;
  padding: 1em;
  border: 1px solid;
}

pre > code { padding: 0; }

.content table {
  border-collapse: collapse;
  display: block;
  margin: 1em auto;
  max-width: 100%;
  overflow: auto hidden;
}

.content th,
.content td { padding: 0.125em .5em; }

.content td { border-top: 1px solid #000; }

.content th {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.recent-posts td {
  border: none;
  vertical-align: top;
  padding: 0.25em;
}

.footnotes * {
  font-size: 0.8rem;
  text-align: left;
}

.footnotes ol { padding-left: 1em; }

sup,
sub { line-height: 0; }

.post-nav {
  width: 100%;
  table-layout: fixed;
}

#prev-post * { text-align: left; }

#to-top * { text-align: center; }

#next-post * { text-align: right; }

#TableOfContents ul {
  padding: 0 0.5em;
  list-style: none;
}

hr {
  height: 1px;
  width: 60%;
  margin: 1em auto;
  border: none;
  background-color: #000;
}

del { text-decoration: line-through; }

a { text-decoration-style: dotted; }

a:hover { text-decoration: none; }

a.footnote-ref::before { content: '['; }

a.footnote-ref::after { content: ']'; }

/* footer */

footer {
  font: italic 0.8rem/1.3 Sans-serif;
  text-align: center;
  padding: 1px 0;
  border-top: 1px solid;
}

#home footer {
  border-style: none;
}

/* media queries */

@media screen and (min-width: 40em) {
  .preview {
    width: 80%;
    margin: 1em auto;
  }

  .columns {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .columns > div { flex: 1 1 0; }

  .columns img,
  .columns figure {
    max-width: 20em;
    display: block;
    margin: 0 auto;
  }

  footer {
    font: italic 0.8rem/1.3 Sans-serif;
    text-align: center;
    padding: 1px 0;
    border-top: 1px solid;
  }
}

/* colors */

@media (prefers-color-scheme: light) {
  :root {
    --eerie-black: #191D22ff;
    --charcoal: #33505Bff;
    --cinereous: #6B605Aff;
    --hookers-green: #3D594Eff;
    --timberwolf: #BFBCB0ff;
    --bone: #E6E1D4ff;
    --bone-2: #DAD5C8ff;
    --moss-green: #516648ff;
  }

  .active:link,
  .active:visited,
  body,
  header {
    color: var(--eerie-black);
    background-color: var(--bone);
  }

  hr { background-color: var(--timberwolf); }

  blockquote,
  footer,
  header,
  pre,
  .content th,
  .content td,
  .preview { border-color: var(--timberwolf); }

  pre,
  code { background-color: var(--bone-2); }

  pre > code { background-color: #00000000; }

  blockquote { color: var(--cinereous); }

  h1,
  h2,
  h3,
  h5,
  h5,
  h6 { color: var(--charcoal); }

  a:link { color: var(--moss-green); }

  a:visited { color: var(--hookers-green); }
}

@media (prefers-color-scheme: dark) {
  :root {
    --raisin-black: #22222Bff;
    --raisin-black-2: #2D2D38ff;
    --onyx: #434346ff;
    --coffee: #97775Cff;
    --coffee-2: #B7977Cff;
    --indian-red: #E38377ff;
    --pearl: #E8DCC4ff;
    --ivory: #F7F5E8ff;
  }

  .active:link,
  .active:visited,
  body,
  header {
    color: var(--pearl);
    background-color: var(--raisin-black);
  }

  hr { background-color: var(--onyx); }

  blockquote,
  footer,
  header,
  pre,
  .content th,
  .content td,
  .preview { border-color: var(--onyx); }

  pre,
  code { background-color: var(--raisin-black-2)}

  pre > code { background-color: #00000000; }

  blockquote { color: var(--coffee-2); }

  h1,
  h2,
  h3,
  h5,
  h5,
  h6 { color: var(--ivory); }

  a:link { color: var(--indian-red); }

  a:visited { color: var(--coffee); }
}
