html {
  font: 1.1em/1.3 "FreeSans", Sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 40em;
  margin: 0 auto;
}

/* header */

header {
  padding: 10px;
  border-bottom: 1px solid;
}

/* main */

main {
  padding: 0 10px;
  flex: 1;
}

#home main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#home main * { margin: 5px 0; }

hr {
  height: 1px;
  width: 60%;
  margin: 30px auto;
  border: none;
  background-color: black;
}

del { text-decoration: line-through; }

sup,
sub { line-height: 0; }

#TableOfContents ul {
  list-style: none;
  margin: 0;
}

/* Headings */

#home h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.title { text-align: center; }

/* Blockquotes */

blockquote { font-style: italic; }

/* Images */

img,
svg {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}

figure img,
figure svg { margin: 0 auto; }

figure { margin: 1em auto; }

figcaption > p {
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  font-size: smaller;
  font-style: italic;
}

/* Code (inline & block) */

pre,
code { line-height: 1.1; }

code { overflow-wrap: break-word; }

pre {
  max-width: 100%;
  display: block;
  overflow: auto hidden;
  padding-bottom: 1em; /* Add space for scrollbar */
  margin-bottom: 0;
}

pre > code { padding: 0; }

/* Elements after a codeblocks require no margin, since scrollbar space is sufficient */
.content pre + * { margin-top: 0; }

/* Tables */

.content table {
  border-collapse: collapse;
  display: block;
  margin: 1em auto;
  padding-bottom: 1em;
  max-width: 100%;
  overflow: auto hidden;
}

.content th,
.content td { padding: .5em; }

.content td { border-top: 1px solid; }

.content th {
  font-weight: bold;
  border-bottom: 2px solid;
}

/* Links */

.link-collection { text-align: center; }

/* Math */

.math-block {
  width: 100%;
  overflow-x: auto;
  margin: 1em 0;
  padding: 5px 0;
}

/* Navigation */

nav { display: flex; }

.nav-l,
.nav-c,
.nav-r { flex: 1; }

.nav-l { text-align: left; }

.banner,
.nav-c { text-align: center; }

header .nav-c { font-weight: bold; }

.nav-r { text-align: right; }

.active { font-weight: bold; }

.language-menu { text-transform: uppercase; }

/* Footer and Footnotes */

footer .banner,
.footnotes { font-size: 0.7rem; }

.footnotes ol {
  padding-left: 3em;
  width: 80%;
}

.footnote-ref::before { content: '['; }

.footnote-ref::after { content: ']'; }

/* footer */

footer {
  padding: 10px;
  margin-top: 20px;
}

#home footer { border: none; }

/* === Layouts ============================================================== */

.metadata { font-size: smaller }

/* Container that holds all previews */
.previews { margin-top: 2em; }

/* Individual preview layout */

.preview {
  border-top: 1px solid;
  margin: 2em auto;
}

.preview > * { margin: 10px 0; }

.preview-footer { text-align: right; }

/* === Shortcodes =========================================================== */

/* The recent-posts shortcode that looks like a list but is actually a table */
.recent-posts td {
  border: none;
  vertical-align: top;
  padding: 0.25em;
}

/* The centered shortcode */

.centered { text-align: center; }

.centered * { margin-top: 0; }

/* Timeline */

.timeline {
  position: relative;
  margin: 20px auto;
}

/* The actual timeline (vertical line) */
.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 12px;
}

/* Container around content */
.timeline > * {
  padding: 10px 40px;
  position: relative;
  width: 80%;
  list-style: none;
}

.timeline > * > li {
  position: relative;
  margin: 15px 0;
}

.timeline > * > li > * { margin-bottom: 5px; }

/* The circles on the timeline */
.timeline > * > li::before {
  content: '';
  position: absolute;
  display: flex;
  width: 11px;
  height: 1px;
  left: -33px;
  top: 9px;
  background-color: black;
  z-index: 1;
}

.timeline > ul > li > * { margin-top: 0; }

/* columns */
.columns > ul {
  list-style: none;
  padding: 0;
}

/* === Media queries ======================================================== */

/* Dark variant */
@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: black;
  }

  .content th { border-color: white; }

  a:visited { color: violet; }

  a:link { color: skyblue; }
 
  hr,
  .timeline > * > li::before,
  .timeline::after { background-color: white; }
}

/* Wide screen */
@media screen and (min-width: 600px) {
  html { font: 1.3em/1.62 "FreeSans", Sans-serif; }

  .preview { width: 80%; }

  .metadata { font-size: 1em; }

  .footnotes,
  footer nav * { font-size: smaller; }

  .columns > ul {
    margin: 0;
    display: flex;
    gap: 1rem;
  }

  /* .columns + * { margin-top: 0; } */

  .columns > ul > li { flex: 1 1 0; }

  .columns > ul > li > :first-child { margin-top: 0; }
}
