{{ define "main" }}
  <h1 class="title">{{ .Title }}</h1>
  <div class="link-collection">
    {{ if eq .Page.Language.Lang "de" }}
      <a title="Kontaktiere mich" href="mailto:{{ .Site.Params.author.email }}">E-Mail</a>
      <span> &middot; </span>
      <a title="Repositories" href="{{ .Site.Params.author.github }}">GitHub</a>
    {{ else if eq .Page.Language.Lang "en" }}
      <a title="Contact me" href="mailto:{{ .Site.Params.author.email }}">E-Mail</a>
      <span> &middot; </span>
      <a title="Repositories" href="{{ .Site.Params.author.github }}">GitHub</a>
    {{ end }}
  </div>
  <div class="content">
    {{ .Content }}
  </div>
{{ end }}
