<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body id="home">
  <a id="top"></a>
  <main>
    <h1 class="title">{{ .Site.Title }}</h1>
    <div class="link-collection">
      <a href="{{ print .RelPermalink "about" }}">About</a>
      <span> &middot; </span>
      <a href="{{ print .RelPermalink "posts" }}">Blog</a>
      <span> &middot; </span>
      <a href="{{ print .RelPermalink "posts/index.xml" }}">RSS</a>
      <span> &middot; </span>
      <a href="{{ .Site.Params.author.github }}">GitHub</a>
    </div>
    <div class="content">
      {{ .Content }}
    </div>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
