<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ .Title }}</title>
  {{ partialCached "head/css.html" . }}
  <meta name="robots" content="noindex,follow">
  <link rel="icon" href="data:,">
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    <h1 class="title">{{ .Title }}</h1>
    {{ .Content }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
