{{ define "main" }}
  <h1 class="title" id="content-title">{{ .Title }}</h1>
  {{ if .Page.Params }}
    {{ partial "metadata.html" . }}
  {{ end }}
  <div class="content">
    {{ .Content }}
  </div>
  <nav class="posts-navigation">
    <div class="nav-l">
      {{ if .Page.Prev }}
        <a href="{{ .Prev.Page.Permalink }}">&larr;</a>
      {{ end }}
    </div>
    <div class="nav-r">
      {{ if .Page.Next }}
        <a href="{{ .Next.Page.Permalink }}">&rarr;</a>
      {{ end }}
    </div>
  </nav>
{{ end }}
